USE [master]
GO
/****** Object:  Database [HiramDb]    Script Date: 9/27/2026 10:07:59 PM ******/
CREATE DATABASE [HiramDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HiramDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HiramDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HiramDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HiramDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HiramDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HiramDb]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_id] [tinyint] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[account_status] [varchar](20) NOT NULL,
	[failed_login_attempts] [int] NOT NULL,
	[lockout_end_at] [datetime2](7) NULL,
	[last_login_at] [datetime2](7) NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserAccounts_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserAccounts_user_id] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[audit_log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [varchar](100) NOT NULL,
	[entity_name] [varchar](100) NULL,
	[entity_id] [varchar](100) NULL,
	[details] [varchar](max) NULL,
	[ip_address] [varchar](45) NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowerProfiles]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowerProfiles](
	[user_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[program] [varchar](150) NULL,
	[year_level] [tinyint] NULL,
	[eligibility_status] [varchar](20) NOT NULL,
	[suspension_reason] [varchar](500) NULL,
	[suspended_by_user_id] [int] NULL,
	[suspended_at] [datetime2](7) NULL,
	[suspended_until] [datetime2](7) NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_code] [varchar](20) NOT NULL,
	[department_name] [varchar](150) NOT NULL,
	[description] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Departments_department_code] UNIQUE NONCLUSTERED 
(
	[department_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Departments_department_name] UNIQUE NONCLUSTERED 
(
	[department_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentCategories]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentCategories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_code] [varchar](20) NOT NULL,
	[category_name] [varchar](100) NOT NULL,
	[description] [varchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EquipmentCategories_category_code] UNIQUE NONCLUSTERED 
(
	[category_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EquipmentCategories_category_name] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipments]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipments](
	[equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[equipment_code] [varchar](50) NOT NULL,
	[asset_tag] [varchar](50) NULL,
	[equipment_name] [varchar](150) NOT NULL,
	[brand] [varchar](100) NULL,
	[model] [varchar](100) NULL,
	[serial_number] [varchar](100) NULL,
	[description] [varchar](500) NULL,
	[condition_status] [varchar](20) NOT NULL,
	[availability_status] [varchar](20) NOT NULL,
	[storage_location] [varchar](150) NULL,
	[acquisition_date] [date] NULL,
	[acquisition_cost] [decimal](18, 2) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EquipmentItems_equipment_code] UNIQUE NONCLUSTERED 
(
	[equipment_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRecords]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRecords](
	[maintenance_id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_id] [int] NOT NULL,
	[maintenance_type] [varchar](50) NOT NULL,
	[description] [varchar](500) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[start_date_time] [datetime2](7) NOT NULL,
	[end_date_time] [datetime2](7) NULL,
	[reported_by_user_id] [int] NULL,
	[completed_by_user_id] [int] NULL,
	[remarks] [varchar](500) NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[maintenance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[token_hash] [varchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[used_at] [datetime2](7) NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PasswordResetTokens_token_hash] UNIQUE NONCLUSTERED 
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationItems]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationItems](
	[reservation_item_id] [int] IDENTITY(1,1) NOT NULL,
	[reservation_id] [int] NOT NULL,
	[equipment_id] [int] NOT NULL,
	[condition_at_borrowing] [varchar](20) NULL,
	[borrowing_remarks] [varchar](500) NULL,
	[is_returned] [bit] NOT NULL,
	[returned_at] [datetime2](7) NULL,
	[condition_at_return] [varchar](20) NULL,
	[return_remarks] [varchar](500) NULL,
	[damage_notes] [varchar](500) NULL,
	[missing_parts_notes] [varchar](500) NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ReservationItems_reservation_equipment] UNIQUE NONCLUSTERED 
(
	[reservation_id] ASC,
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[reservation_number] [varchar](30) NOT NULL,
	[borrower_user_id] [int] NOT NULL,
	[purpose] [varchar](500) NOT NULL,
	[start_date_time] [datetime2](7) NOT NULL,
	[expected_return_date_time] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[requested_at] [datetime2](7) NOT NULL,
	[approved_by_user_id] [int] NULL,
	[approved_at] [datetime2](7) NULL,
	[rejected_by_user_id] [int] NULL,
	[rejected_at] [datetime2](7) NULL,
	[rejection_reason] [varchar](500) NULL,
	[borrowed_at] [datetime2](7) NULL,
	[returned_at] [datetime2](7) NULL,
	[received_by_user_id] [int] NULL,
	[cancelled_at] [datetime2](7) NULL,
	[cancellation_reason] [varchar](500) NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
	[row_version] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Reservations_reservation_number] UNIQUE NONCLUSTERED 
(
	[reservation_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](30) NOT NULL,
	[description] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_role_name] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/27/2026 10:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_code] [varchar](30) NOT NULL,
	[first_name] [varchar](100) NOT NULL,
	[middle_name] [varchar](100) NULL,
	[last_name] [varchar](100) NOT NULL,
	[suffix] [varchar](20) NULL,
	[contact_number] [varchar](30) NULL,
	[created_by] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_user_code] UNIQUE NONCLUSTERED 
(
	[user_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAccounts_role_id]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserAccounts_role_id] ON [dbo].[Accounts]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_user_id]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_user_id] ON [dbo].[AuditLogs]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BorrowerProfiles_department_id]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_BorrowerProfiles_department_id] ON [dbo].[BorrowerProfiles]
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EquipmentItems_availability_status]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_EquipmentItems_availability_status] ON [dbo].[Equipments]
(
	[availability_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EquipmentItems_category_id]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_EquipmentItems_category_id] ON [dbo].[Equipments]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_EquipmentItems_asset_tag]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_EquipmentItems_asset_tag] ON [dbo].[Equipments]
(
	[asset_tag] ASC
)
WHERE ([asset_tag] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_EquipmentItems_serial_number]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_EquipmentItems_serial_number] ON [dbo].[Equipments]
(
	[serial_number] ASC
)
WHERE ([serial_number] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRecords_equipment_id]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRecords_equipment_id] ON [dbo].[MaintenanceRecords]
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReservationItems_equipment_id]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReservationItems_equipment_id] ON [dbo].[ReservationItems]
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_borrower_user_id]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_borrower_user_id] ON [dbo].[Reservations]
(
	[borrower_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_dates]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_dates] ON [dbo].[Reservations]
(
	[start_date_time] ASC,
	[expected_return_date_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reservations_status]    Script Date: 9/27/2026 10:08:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_status] ON [dbo].[Reservations]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('Active') FOR [account_status]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [failed_login_attempts]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[BorrowerProfiles] ADD  DEFAULT ('Eligible') FOR [eligibility_status]
GO
ALTER TABLE [dbo].[BorrowerProfiles] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[BorrowerProfiles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[EquipmentCategories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[EquipmentCategories] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[EquipmentCategories] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Equipments] ADD  DEFAULT ('Good') FOR [condition_status]
GO
ALTER TABLE [dbo].[Equipments] ADD  DEFAULT ('Available') FOR [availability_status]
GO
ALTER TABLE [dbo].[Equipments] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Equipments] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[Equipments] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[MaintenanceRecords] ADD  DEFAULT ('Scheduled') FOR [status]
GO
ALTER TABLE [dbo].[MaintenanceRecords] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[MaintenanceRecords] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ReservationItems] ADD  DEFAULT ((0)) FOR [is_returned]
GO
ALTER TABLE [dbo].[ReservationItems] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[ReservationItems] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (sysdatetime()) FOR [requested_at]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (suser_sname()) FOR [created_by]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_UserAccounts_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_UserAccounts_Roles]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_UserAccounts_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_UserAccounts_Users]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[BorrowerProfiles]  WITH CHECK ADD  CONSTRAINT [FK_BorrowerProfiles_Departments] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[BorrowerProfiles] CHECK CONSTRAINT [FK_BorrowerProfiles_Departments]
GO
ALTER TABLE [dbo].[BorrowerProfiles]  WITH CHECK ADD  CONSTRAINT [FK_BorrowerProfiles_SuspendedBy] FOREIGN KEY([suspended_by_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[BorrowerProfiles] CHECK CONSTRAINT [FK_BorrowerProfiles_SuspendedBy]
GO
ALTER TABLE [dbo].[BorrowerProfiles]  WITH CHECK ADD  CONSTRAINT [FK_BorrowerProfiles_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[BorrowerProfiles] CHECK CONSTRAINT [FK_BorrowerProfiles_Users]
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentItems_EquipmentCategories] FOREIGN KEY([category_id])
REFERENCES [dbo].[EquipmentCategories] ([category_id])
GO
ALTER TABLE [dbo].[Equipments] CHECK CONSTRAINT [FK_EquipmentItems_EquipmentCategories]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRecords_completed_by] FOREIGN KEY([completed_by_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [FK_MaintenanceRecords_completed_by]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRecords_EquipmentItems] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[Equipments] ([equipment_id])
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [FK_MaintenanceRecords_EquipmentItems]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRecords_reported_by] FOREIGN KEY([reported_by_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [FK_MaintenanceRecords_reported_by]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetTokens_UserAccounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
GO
ALTER TABLE [dbo].[PasswordResetTokens] CHECK CONSTRAINT [FK_PasswordResetTokens_UserAccounts]
GO
ALTER TABLE [dbo].[ReservationItems]  WITH CHECK ADD  CONSTRAINT [FK_ReservationItems_EquipmentItems] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[Equipments] ([equipment_id])
GO
ALTER TABLE [dbo].[ReservationItems] CHECK CONSTRAINT [FK_ReservationItems_EquipmentItems]
GO
ALTER TABLE [dbo].[ReservationItems]  WITH CHECK ADD  CONSTRAINT [FK_ReservationItems_Reservations] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[Reservations] ([reservation_id])
GO
ALTER TABLE [dbo].[ReservationItems] CHECK CONSTRAINT [FK_ReservationItems_Reservations]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_approved_by] FOREIGN KEY([approved_by_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_approved_by]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_borrower] FOREIGN KEY([borrower_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_borrower]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_received_by] FOREIGN KEY([received_by_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_received_by]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_rejected_by] FOREIGN KEY([rejected_by_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_rejected_by]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CK_UserAccounts_account_status] CHECK  (([account_status]='Disabled' OR [account_status]='Suspended' OR [account_status]='Inactive' OR [account_status]='Active'))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CK_UserAccounts_account_status]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CK_UserAccounts_failed_login_attempts] CHECK  (([failed_login_attempts]>=(0)))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CK_UserAccounts_failed_login_attempts]
GO
ALTER TABLE [dbo].[BorrowerProfiles]  WITH CHECK ADD  CONSTRAINT [CK_BorrowerProfiles_eligibility_status] CHECK  (([eligibility_status]='Ineligible' OR [eligibility_status]='Suspended' OR [eligibility_status]='Eligible'))
GO
ALTER TABLE [dbo].[BorrowerProfiles] CHECK CONSTRAINT [CK_BorrowerProfiles_eligibility_status]
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD  CONSTRAINT [CK_EquipmentItems_acquisition_cost] CHECK  (([acquisition_cost] IS NULL OR [acquisition_cost]>=(0)))
GO
ALTER TABLE [dbo].[Equipments] CHECK CONSTRAINT [CK_EquipmentItems_acquisition_cost]
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD  CONSTRAINT [CK_EquipmentItems_availability_status] CHECK  (([availability_status]='Inactive' OR [availability_status]='Maintenance' OR [availability_status]='Borrowed' OR [availability_status]='Reserved' OR [availability_status]='Available'))
GO
ALTER TABLE [dbo].[Equipments] CHECK CONSTRAINT [CK_EquipmentItems_availability_status]
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD  CONSTRAINT [CK_EquipmentItems_condition_status] CHECK  (([condition_status]='Lost' OR [condition_status]='Damaged' OR [condition_status]='Fair' OR [condition_status]='Good' OR [condition_status]='Excellent'))
GO
ALTER TABLE [dbo].[Equipments] CHECK CONSTRAINT [CK_EquipmentItems_condition_status]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [CK_MaintenanceRecords_date_range] CHECK  (([end_date_time] IS NULL OR [end_date_time]>=[start_date_time]))
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [CK_MaintenanceRecords_date_range]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [CK_MaintenanceRecords_status] CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='InProgress' OR [status]='Scheduled'))
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [CK_MaintenanceRecords_status]
GO
ALTER TABLE [dbo].[ReservationItems]  WITH CHECK ADD  CONSTRAINT [CK_ReservationItems_condition_at_borrowing] CHECK  (([condition_at_borrowing] IS NULL OR ([condition_at_borrowing]='Damaged' OR [condition_at_borrowing]='Fair' OR [condition_at_borrowing]='Good' OR [condition_at_borrowing]='Excellent')))
GO
ALTER TABLE [dbo].[ReservationItems] CHECK CONSTRAINT [CK_ReservationItems_condition_at_borrowing]
GO
ALTER TABLE [dbo].[ReservationItems]  WITH CHECK ADD  CONSTRAINT [CK_ReservationItems_condition_at_return] CHECK  (([condition_at_return] IS NULL OR ([condition_at_return]='Lost' OR [condition_at_return]='Damaged' OR [condition_at_return]='Fair' OR [condition_at_return]='Good' OR [condition_at_return]='Excellent')))
GO
ALTER TABLE [dbo].[ReservationItems] CHECK CONSTRAINT [CK_ReservationItems_condition_at_return]
GO
ALTER TABLE [dbo].[ReservationItems]  WITH CHECK ADD  CONSTRAINT [CK_ReservationItems_return_status] CHECK  (([is_returned]=(0) AND [returned_at] IS NULL OR [is_returned]=(1) AND [returned_at] IS NOT NULL))
GO
ALTER TABLE [dbo].[ReservationItems] CHECK CONSTRAINT [CK_ReservationItems_return_status]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [CK_Reservations_date_range] CHECK  (([expected_return_date_time]>[start_date_time]))
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [CK_Reservations_date_range]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [CK_Reservations_status] CHECK  (([status]='Cancelled' OR [status]='Rejected' OR [status]='Overdue' OR [status]='Returned' OR [status]='Borrowed' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [CK_Reservations_status]
GO
USE [master]
GO
